    </div>
  </div>
</main>
<footer id="colophon" class="clearfix">
<div class="widget-wrap">
  <div class="container">
    <div class="widget-area clearfix">
      <div class="one-third">
        <aside class="widget widget_nav_menu"><h2 class="widget-title">Information</h2>
          <div class="menu-infomeny-container">
            <ul id="menu-infomeny" class="menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="kontakt.html#borja-fakta">Börja fäkta</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="kontakt.html#evenemang">Evenemang</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52"><a href="information.html#kalender">Kalender</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="information.html#medlemsavgift">Medlemsavgift</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="one-third">
        <aside id="text-4" class="widget widget_text"><h2 class="widget-title">Fäktsektionen</h2>
          <div class="textwidget">
            <p>Dalregementets IF grundades 1908, och fäktsektionen har existerat inom föreningen sedan 1985. Dalregementets IF Fäktning är inriktat på värjfäktning, och erbjuder ledarledd träning för både yngre och äldre. Nybörjare och erfarna fäktare är alla välkomna.</p>
            <p>Fäktning är en av femkampsgrenarna tillsammans med skytte, löpning, simning och ridning. Dalregementets IF Fäktning erbjuder utöver fäktning skytteträning med luftpistol, och föreningen har en separat sektion för löpning. Du kan alltså träna tre av de fem grenarna i samma förening.</p>
          </div>
        </aside>
      </div>
      <div class="one-third">
        <aside id="text-3" class="widget widget_text"><h2 class="widget-title">Kontaktinformation</h2>
          <div class="textwidget"><p><b>Postadress</b><br>
Dalregementets IF<br>
Dalregementsgruppen, Box 701<br>
79129 Falun</p>
<p><strong>Fäktinstruktör</strong><br>
Jan Åslund<br>
Email: <a href="mailto:aslund@svit.se">aslund@svit.se</a><br>
Telefon: 023-132 87 (dagtid)</p>
<p><strong>Barnledare</strong><br>
Jelena Smirnova<br>
Email: <a href="mailto:jelena@faktningfalun.se">jelena@faktningfalun.se</a><br>
</p>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
<div class="info-bar">
  <div class="container clearfix">
    <div class="info clearfix">
      <ul>
        <li class="address">Soldatvägen 10, Falun</li>
      </ul>
    </div>
  </div>
</div>
<div id="site-generator">
  <div class="container clearfix">
    <div class="social-profiles clearfix">
      <ul>
        <li class="github"><a href="https://github.com/Dalregementets-IF" target="_blank" rel="noopener noreferrer"></a></li>
      </ul>
    </div>
    <div class="copyright">Copyright &copy; 2022 <a href="https://faktningfalun.se/" title="Dalregementets IF &#8211; Fäktning/M5K" ><span>Dalregementets IF &#8211; Fäktning/M5K</span></a>  | Theme by: <a href="http://themehorse.com" target="_blank" title="Theme Horse" ><span>Theme Horse</span></a>
    </div>
  </div>
</div>
</footer>
</div>
</body></html>
