<!DOCTYPE HTML>
<html lang="sv-SE">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="$DESCRIPTION">
    <meta name="keywords" content="$KEYWORDS">
    <title>$TITLE</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='css/interface.style.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/font-awesome.css' type='text/css' media='all'>
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=PT+Sans%3A400%2C700italic%2C700%2C400italic&#038;ver=5.6.8' type='text/css' media='all'>
  </head>
  <body>
<div class="wrapper">
<header id="branding" >
  <div class="info-bar">
    <div class="container clearfix">
      <div class="info clearfix">
        <ul><li class="address">Soldatvägen 10, Falun</li></ul>
      </div>
      <div class="social-profiles clearfix">
        <ul>
          <li class="github"><a href="https://github.com/Dalregementets-IF" target="_blank" rel="noopener noreferrer"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hgroup-wrap">
    <div class="container clearfix">
      <div id="site-logo" class="clearfix">
        <a href="/" title="$SITE_TITLE" rel="home">
          <img src="img/dalreg-logo-100.webp" alt="logo" width="100" style="float: left;">
        </a>
        <span id="site-title">
          <a href="/" title="$SITE_TITLE" rel="home">$SITE_TITLE</a>
          <span id="site-description">$SUBTITLE</span>
        </span>
      </div>
      <label for="menu-toggle-switch" class="menu-toggle">
          <!--<button class="menu-toggle">Responsive Menu</button>-->
      </label>
      <div class="hgroup-right">
        <nav id="access" class="clearfix">
          <input type="checkbox" id="menu-toggle-switch" name="css-menu-switch">
          <ul id="menu" class="nav-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index.html">Hem</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="kontakt.html">Kontakt</a>
              <ul class="sub-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="kontakt.html#borja-fakta">Börja fäkta</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="kontakt.html#evenemang">Evenemang</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="information.html">Information</a>
              <ul class="sub-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="information.html#traningstider">Träningstider</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="information.html#medlemsavgift">Medlemsavgift</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="information.html#tavlingslicens">Tävlingslicens</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="utrustning.html">Utrustning</a>
              <ul class="sub-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="varja.html">Hur fungerar värjan?</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="montering.html">Montering av värja</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="felsokning.html">Felsökning</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="utrustning.html#tavlingskrav">Tävlingskrav</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="lankar.html">Länkar</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- BANNER -->
</header>
<main id="main">
  <div class="container clearfix">
    <div id="content">
      <!-- PAGETITLE -->
