/* vim: set noexpandtab ts=4 sw=4: */
/*
This is an altered CSS based on the WordPress theme
Interface by Theme Horse: https://www.themehorse.com/themes/interface

License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* =Color Scheme
----------------------------------------------- */
/* 'color-scheme: light dark' in meta tag */
html:has(option[name="theme"][value="light"]:checked) { color-scheme: light; }
html:has(option[name="theme"][value="dark"]:checked) { color-scheme: dark; }

:root {
	--grey-light: #f1f1f1;
	--grey-medium: #ccc;
	--grey-dark: #777;
	--blue-light: #0c4a91;
	--blue-medium: #073656;
	--blue-dark: #031f32;
	--blue-alt: #2563aa;
    --yellow-light: #fff0ca;
	--yellow-medium: #ffc700;
	--yellow-dark: #e97d20;

	--text-color: light-dark(var(--grey-dark), #fff);
	--text-inv-color: light-dark(#fff, #000);
	--text-heading-color: light-dark(var(--blue-medium), var(--yellow-medium));
	--link-color: var(--yellow-dark);
	--link-hover-color: var(--yellow-medium);
	--select-color: var(--yellow-dark);
	--select-text-color: var(--text-inv-color);

	--hf-text-color: #fff;
	--hf-title-color: #fff;
	--hf-title-hover-color: var(--yellow-medium);
	--hf-heading-color: var(--yellow-medium);
	--hf-nav-color: #fff;
	--hf-nav-hover-color: var(--yellow-medium);
	--hf-link-color: var(--yellow-dark);
	--hf-infobar-color: var(--yellow-medium);

	--menu-color: light-dark(var(--blue-light), var(--blue-dark));
	--menu-text-color: var(--yellow-medium);
	--menu-text-hover-color: var(--yellow-dark);
    --menu-shadow: rgba(0, 0, 0, 0.6);

	--gradient-light-color: light-dark(var(--blue-light), var(--blue-dark));
	--gradient-dark-color: light-dark(var(--blue-medium), #000);
	--page-color: light-dark(#fff, var(--gradient-light-color));

	--shading: light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
	--border-color: light-dark(var(--grey-medium), #000);
	--border-light-color: light-dark(var(--grey-medium), rgba(255, 255, 255, 0.1));

	--highlight-color: light-dark(var(--yellow-light), var(--blue-medium));
	--highlight-text-color: light-dark(var(--text-color), var(--yellow-medium));

	--quote-color: light-dark(var(--yellow-light), var(--blue-medium));
	--quote-text-color: var(--text-color);
	--quote-footer-text-color: light-dark(var(--blue-light), var(--yellow-medium));
	--quote-flare-color: var(--yellow-medium);

	--promo-color: light-dark(var(--yellow-light), var(--blue-medium));
	--promo-text-color: light-dark(#000, var(--text-color));
	--promo-heading-color: light-dark(var(--blue-light), var(--yellow-medium));
	--promo-flare-color: var(--yellow-medium);

	--button-color: light-dark(var(--blue-alt), var(--yellow-medium));
	--button-hover-color: light-dark(var(--grey-dark), var(--yellow-dark));
	--button-text-color: var(--text-inv-color);

	--alert-color: var(--grey-light);
	--alert-text-color: var(--grey-dark);
	--alert-border-color: var(--grey-medium);
	--alert-info-color: #d9edf7;
	--alert-info-text-color: #007ebd;
	--alert-info-border-color: #bce8f1;
	--alert-warn-color: #f2dede;
	--alert-warn-text-color: #b5001b;
	--alert-warn-border-color: #eed3d7;
	--alert-greet-color: #dff0d8;
	--alert-greet-text-color: #2b9500;
	--alert-greet-border-color: #c7e6bb;
	--alert-note-color: #fcf8e3;
	--alert-note-text-color: #a88d00;
	--alert-note-border-color: #fbeed5;

	--image-bordered-color: var(--grey-light);
	--image-bordered-border-color: var(--grey-medium);
	--image-caption-color: light-dark(var(--text-color), var(--yellow-medium));
	--image-caption-border-color: var(--grey-medium);

	--comp-shadow: light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
	--comp-hover-color: light-dark(var(--yellow-light), var(--blue-medium));
	--comp-heading-color: light-dark(var(--blue-medium), var(--yellow-medium));
	--comp-heading-hover-color: var(--yellow-dark);
	--comp-picto-color: var(--yellow-medium);
	--comp-picto-border-color: var(--blue-light);

	--tabbed-border-color: light-dark(var(--grey-medium), #818f99);
	--tabbed-current-color: var(--page-color);
	--tabbed-current-text-color: var(--text-heading-color);
	--tabbed-current-flare-color: var(--yellow-medium);

	--table-header-color: light-dark(var(--grey-medium), var(--shading));
	--table-header-text-color: light-dark(var(--blue-dark), var(--yellow-medium));
	--table-row-odd-color: light-dark(var(--grey-light), var(--page-color));
	--table-row-even-color: light-dark(var(--page-color), var(--blue-medium));

	--shield-color: light-dark(color-mix(in srgb, var(--page-color), transparent 10%), color-mix(in srgb, var(--page-color), transparent 20%));

	--fb-file-color: light-dark(var(--text-color), var(--yellow-medium));
	--fb-detail-color: var(--text-color);
	--fb-hover-color: var(--comp-hover-color);
	--fb-border-color: var(--tabbed-border-color);

	--fc-flare-color: var(--yellow-medium);
	--fc-text-color: light-dark(#000, #fff);
	--fc-today-text-color: #000;
	--fc-shadow: light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));

	--fc-page-bg-color: light-dark(#fff, var(--blue-medium));
	--fc-border-color: var(--border-color);
	/* week numbers */
	--fc-neutral-text-color: light-dark(#000, #fff);
	--fc-neutral-bg-color: light-dark(var(--grey-light), var(--blue-dark));
	/* dots */
	--fc-event-border-color: light-dark(var(--blue-alt), var(--yellow-medium));
	--fc-event-border-today-color: var(--blue-alt);
	/* program view */
	--fc-prg-hover-color: light-dark(var(--yellow-light), var(--blue-light));
	--fc-prg-day-text-color: light-dark(#000, var(--yellow-medium));
	--fc-today-bg-color: light-dark(var(--yellow-light), var(--yellow-medium));

	--fc-button-active-bg-color: light-dark(var(--blue-light), var(--blue-medium));
	--fc-button-bg-color: light-dark(var(--blue-alt), var(--blue-light));
	--fc-button-border-color: light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
	--fc-button-hover-bg-color: var(--grey-dark); /* todo: better color */

}

#theme-select {
	color: var(--hf-infobar-color);
	background-color: var(--gradient-dark-color);
	border: none;
	float: left;
	margin-right: 30px;
    padding: 10px 10px 10px 0;
}
#theme-select option {
	border: none;
}

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
::selection {
	background: var(--select-color);
	color: var(--select-text-color);
}
ol,
ul {
	list-style: none;
	margin: 0;
}
table,
th,
td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}
table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: 20px;
	width: 100%;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
th {
	border-width: 0 1px 1px 0;
	padding: 8px;
	text-transform: uppercase;
	color: var(--table-header-text-color);
	font-size: 17px;
	line-height: 24px;
}
td {
	padding: 8px;
	border-width: 0 1px 1px 0;
}
a img {
	border: 0 none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
embed,
iframe,
object {
	max-width: 100%;
}

/* =Global
----------------------------------------------- */
@font-face {
  font-family: 'DIN 1451 Std';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dinmittelschriftstd-1-opentype.woff2') format('woff2');
  src: url('../fonts/dinmittelschriftstd-1-opentype.woff') format('woff');
  src: url('../fonts/dinmittelschriftstd-1-opentype.eot') format('embedded-opentyp');
  src: url('../fonts/dinmittelschriftstd-1-opentype.ttf') format('truetype');
}

body,
input,
textarea,
select {
	color: var(--text-color);
	font: 13px 'PT Sans', sans-serif;
	line-height: 20px;
	word-wrap: break-word;
}
body {
	background-color: var(--page-color);
}
.wrapper {
	width: 100%;
}
.container {
	margin: 0 auto;
	max-width: 978px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-heading-color);
}
h1 {
	font-size: 28px;
	line-height: 35px;
}
h2 {
	font-size: 26px;
	line-height: 33px;
}
h3 {
	font-size: 24px;
	line-height: 31px;
}
h4 {
	font-size: 22px;
	line-height: 29px;
}
h5 {
	font-size: 20px;
	line-height: 27px;
}
h6 {
	font-size: 17px;
	line-height: 24px;
	text-transform: uppercase;
}

/* No Border/Margin/Padding */
.no-margin-top {
	margin-top: 0px !important;
}
.no-margin-bottom {
	margin-bottom: 0px !important;
}
.no-margin-left {
	margin-left: 0px !important;
}
.no-margin-right {
	margin-right: 0px !important;
}
.no-padding-top {
	padding-top: 0px !important;
}
.no-padding-bottom {
	padding-bottom: 0px !important;
}
.no-padding-left {
	padding-left: 0px !important;
}
.no-padding-right {
	padding-right: 0px !important;
}
.no-border-top {
	border-top: 0 none !important;
}
.no-border-bottom {
	border-bottom: 0 none !important;
}
.no-border-left {
	border-left: 0 none !important;
}
.no-border-right {
	border-right: 0 none !important;
}

/* Horizontal Line */
hr {
	border-color: rgba(0, 0, 0, 0.1);
	border-style: solid none none;
	border-width: 1px 0 0;
	height: 0;
	margin: 0 0 40px;
}

/* Text Elements */
p, td, li, span {
	letter-spacing: .02rem;
	font-size: 120%;
}
p {
	line-height: 1.6;
	margin-bottom: 15px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
pre {
	background-color: #f1f1f1;
	margin-bottom: 20px;
	overflow: auto;
	padding: 30px;
}
pre,
code,
kbd {
	font-family: "Courier 10 Pitch", Courier, monospace;
	color: var(--highlight-text-color);
	background-color: var(--highlight-color);
	padding-top: 5px;
}
abbr,
acronym,
dfn {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
ins {
	background-color: #fff9c0;
	text-decoration: none;
	margin-bottom: 20px;
}

/* Superscript and Subscript */
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Blockquote */
blockquote {
	font-style: italic;
	font-size: 16px;
	letter-spacing: .02rem;
	margin-bottom: 20px;
	color: var(--quote-text-color);
	background-color: var(--quote-color);
	padding: 15px 30px 15px 26px;
	border-radius: 5px;
	border-style: solid;
	border-width: 0 0 0 4px;
	border-color: var(--quote-flare-color);
}
blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}
blockquote cite {
	letter-spacing: 1px;
	text-transform: uppercase;
}
blockquote footer {
	color: var(--quote-footer-text-color);
}

/* Breadcrumb */
.breadcrumb {
	float: right;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
}
.breadcrumb,
.breadcrumb a,
.breadcrumb a:hover {
	color: #fff;
	opacity: 0.7;
	filter:alpha(opacity=70);
}
.breadcrumb,
.breadcrumb a:hover {
	opacity: 10;
	filter:alpha(opacity=100);
}

/* Forms */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="number"],
input[type="reset"],
input[type="button"],
input[type="submit"],
textarea {
	appearance: none;
}
input,
textarea {
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	width: 100%;
	background-color: #f9f9f9;
	border-radius: 3px;
}
input:focus,
textarea:focus {
	border-color: rgba(0, 0, 0, 0.15);
}
input[type="reset"],
input[type="button"],
input[type="submit"] {
	border: 0 none;
	cursor: pointer;
	margin-bottom: 30px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	text-align: center;
	height: 40px;
	width: inherit;
	padding: 0px 20px;
	margin-top: 5px;
	background-color: var(--changeme);
	transition: all 0.3s ease-out;
}
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
	background-color: #777;
}
select {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	background-color: #f9f9f9;
}
input[type="radio"],
input[type="checkbox"],
input[type="file"] {
	width: inherit;
	border: 1px solid rgba(0, 0, 0, 0.05);
}
input[type="file"] {
	cursor: pointer;
}

/* Links */
a {
	color: var(--link-color);
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	color: var(--link-hover-color);
	text-decoration: none;
}

/* Images */
figure {
	margin: 0;
	text-align: center;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%;
}
img.size-full,
img.size-large {
	max-width: 100%;
	height: auto;
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-top: 20px;
	margin-bottom: 20px;
}
img.alignnone {
	display: block;
}
div.paintoverlay {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
}
div.paintoverlay > img {
	position: relative;
	top: 0;
	left: 0;
}
div.paintoverlay > div {
	background-size: contain;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
div.paintoverlay > div.light.banner {
	/*  srcset="img/paintsplashborder-banner.webp 1440w, img/paintsplashborder-banner-300x104.webp 300w, img/paintsplashborder-banner-768x267.webp 768w, img/paintsplashborder-banner-1024x356.webp 1024w" sizes="(max-width: 1440px) 100vw, 1440px" */
	background-image: url(/img/paintsplashborder-banner-single.webp);
}
div.paintoverlay > div.dark.banner {
	background-image: url(/img/paintsplashborder-banner-dark.webp);
}
div.paintoverlay > div.light.side {
	background-image: url(/img/paintsplashborder-side.webp);
}
div.paintoverlay > div.dark.side {
	background-image: url(/img/paintsplashborder-side-dark.webp);
}
div.paintoverlay > div.light.gallery-1 {
	background-image: url(/img/paintsplashborder-gallery-1.webp);
}
div.paintoverlay > div.light.gallery-2 {
	background-image: url(/img/paintsplashborder-gallery-2.webp);
}
div.paintoverlay > div.light.gallery-3 {
	background-image: url(/img/paintsplashborder-gallery-3.webp);
}
div.paintoverlay > div.light.gallery-4 {
	background-image: url(/img/paintsplashborder-gallery-4.webp);
}
div.paintoverlay > div.dark.gallery-1 {
	background-image: url(/img/paintsplashborder-gallery-1-dark.webp);
}
div.paintoverlay > div.dark.gallery-2 {
	background-image: url(/img/paintsplashborder-gallery-2-dark.webp);
}
div.paintoverlay > div.dark.gallery-3 {
	background-image: url(/img/paintsplashborder-gallery-3-dark.webp);
}
div.paintoverlay > div.dark.gallery-4 {
	background-image: url(/img/paintsplashborder-gallery-4-dark.webp);
}

/* Assistive text */
.assistive-text,
.screen-reader-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/* Clearfix Hack */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* close commented backslash hack */
.clearfix-third,
.clearfix-fourth {
	clear: both;
}

/* Call To Action Button*/
.call-to-action {
	letter-spacing: .02rem;
	color: var(--button-text-color);
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	padding: 9px 20px 9px;
	border-radius: 3px;
	background-color: var(--button-color);
	transition: all 0.3s ease-out;
}
.call-to-action:focus,
.call-to-action:active,
.call-to-action:hover {
	background-color: var(--button-hover-color);
	color: var(--button-text-color);
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 20px;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 20px;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

details {
	border: 1px solid var(--quote-color);
	border-radius: 5px;
	padding: 3px;
	color: var(--quote-text-color);
	background-color: var(--quote-color);
	font-size: 16px;
}
details + details {
	margin-top: 7px;
}
details + p {
	margin-top: 15px;
}
details[open] summary {
	border-bottom: 1px solid var(--changeme);
	margin-bottom: .5em;
}
math {
	font-family: Cambria, Georgia, Palatino Linotype, Bookman Old Style, serif;
	font-size: 1.1em;
}
details > math {
	margin-left: 30px;
}

.alert .inner {
	display: block;
	padding: 6px;
	margin: 6px;
	border-radius: 3px;
	border: 1px solid var(--alert-border-color);
	background-color: var(--alert-color);
	font-size: 1.1em;
	color: var(--alert-text-color);
}
.alert.info .inner {
	border: 1px solid var(--alert-info-border-color);
	background-color: var(--alert-info-color);
	color: var(--alert-info-text-color);
}
.alert.warning .inner {
	border: 1px solid var(--alert-warn-border-color);
	background-color: var(--alert-warn-color);
	color: var(--alert-warn-text-color);
}
.alert.greet .inner {
	border: 1px solid var(--alert-greet-border-color);
	background-color: var(--alert-greet-color);
	color: var(--alert-greet-text-color);
}
.alert.note .inner {
	border: 1px solid var(--alert-note-border-color);
	background-color: var(--alert-note-color);
	color: var(--alert-note-text-color);
}

/* =Header
----------------------------------------------- */

/* Header Info Bar */
.info-bar {
	background-color: var(--gradient-dark-color);
	color: var(--hf-text-color);
	padding-bottom: 6px;
}
.info-bar .info {
	float: left;
	padding-top: 8px;
}
.info-bar .info ul li {
	float: left;
	margin-right: 20px;
}
.info-bar .info ul li:before {
	margin-top: 4px;
	margin-right: 8px;
	color: var(--hf-heading-color);
	display: inline-block;
	font-size: 14px;
	line-height: normal;
	font-family: 'FontAwesome';
	vertical-align: top;
}
.info-bar .info ul li.phone-number:before {
	content: '\f10b';
	font-size: 19px;
	margin-top: 2px;
}
.info-bar .info ul li.email:before {
	content: '\f0e0';
}
.info-bar .info ul li.address:before {
	content: '\f041';
}
.info-bar .info ul li a {
	color: var(--hf-text-color);
}
.info-bar .info ul li a:hover {
	text-decoration: underline;
}

/* Logo, Title and Description */
#site-logo {
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
}
#site-logo img {
	float: left;
	margin-right: 5px;
}
#site-title {
	font-family: 'DIN 1451 Std', 'PT Sans', sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 35px;
	display: inline-block;
	margin-top: 40px;
}
#site-title a {
	color: var(--hf-title-color);
	display: block;
}
#site-title a img {
	vertical-align: inherit;
	max-width: 978px;
	display: block;
}
#site-title a span,
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color: var(--hf-title-hover-color);
}
#site-description {
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	display: block;
}
.hgroup-wrap {
	background: linear-gradient(var(--gradient-dark-color), var(--gradient-light-color));
}
.hgroup-right {
	float: right;
	position: relative;
	min-width: 250px;
	padding-right: 35px;
}

/* Social Profiles */
.social-profiles,
.social-profiles ul {
	float: right;
}
.social-profiles ul li {
	margin: 6px 0 0 5px;
	float: left;
}
.social-profiles ul li a {
	display: block;
	width: 24px;
	height: 24px;
	color: #fff;
	font-family: 'FontAwesome';
	font-size: 22px;
	line-height: 25px;
	text-align: center;
	border-radius: 3px;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.social-profiles ul li a:hover {
	opacity: 10;
	filter:alpha(opacity=100);
}
.social-profiles ul li.github a {
	background-color: #000;
}
.social-profiles ul li.github a:before {
	content: '\f09b';
}
.social-profiles ul li.facebook a {
	background-color: #3c5a99;
}
.social-profiles ul li.facebook a:before {
	content: '\f09a';
}
.social-profiles ul li.dropbox a {
	background-color: #007ee5;
}
.social-profiles ul li.dropbox a:before {
	content: '\f16b';
}

/* =Menu
-------------------------------------------------------------- */
#access {
	float: right;
}
#access li {
	float: left;
	position: relative;
	margin: 0 0 0 20px;
}
#access a {
	color: var(--menu-text-color);
	display: block;
	float: left;
	font-size: 14px;
	text-transform: uppercase;
	padding: 39px 0 0;
	height: 61px;
}
#access a:hover,
#access ul li.current-menu-item > a,
#access ul li.current_page_ancestor > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current_page_item > a,
#access ul li:hover > a {
	color: var(--menu-text-hover-color);
}

/* Dropdown */
#access ul li ul,
#access ul li:hover ul ul,
#access ul ul li:hover ul ul,
#access ul ul ul li:hover ul ul,
#access ul ul ul ul li:hover ul ul {
	display: none;
	z-index: 9999;
}
#access ul li:hover ul,
#access ul ul li:hover ul,
#access ul ul ul li:hover ul,
#access ul ul ul ul li:hover ul,
#access ul ul ul ul ul li:hover ul {
	display: block;
}
#access ul li ul {
	position: absolute;
	background-color: var(--menu-color);
	border-top: 4px solid var(--menu-text-color);
	top: 100px;
	left: 0;
	width: 190px;
	box-shadow: 0 4px 8px var(--menu-shadow);
}
#access ul li ul li {
	float: none;
	margin: 0;
}
#access ul li ul li a,
#access ul li.current-menu-item ul li a,
#access ul li ul li.current-menu-item a,
#access ul li.current_page_ancestor ul li a,
#access ul li.current-menu-ancestor ul li a,
#access ul li.current_page_item ul li a {
	float: none;
	line-height: 20px;
	font-size: 16px;
	font-weight: normal;
	height: 100%;
	padding: 6px 10px;
	text-transform: capitalize;
}
#access ul li ul li a:hover,
#access ul li ul li:hover > a,
#access ul li.current-menu-item ul li a:hover {
	background-color: var(--shading);
	color: var(--menu-text-hover-color);
}
#access ul li ul li ul {
	left: 190px;
	top: 0;
	border: 0 none;
	box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Navigation */
.menu-toggle {
	display: none;
}
#access [type="checkbox"] {
	display: none;
}

/* =Featured Slider
-------------------------------------------------------------- */
.featured-slider,
.featured-slider .slider-cycle,
.featured-slider .container {
	position: relative;
}
.featured-slider .displayblock {
	display: block;
}
.featured-slider .displaynone {
	display: none;
}
.featured-text {
	position: absolute;
	bottom: 100px;
	left: 0;
}
.featured-text .featured-title,
.featured-text .featured-content {
	font-style: italic;
	float: left;
}
.featured-text .featured-title {
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 42px;
	padding: 10px 20px;
	background-color: var(--changeme);
	color: var(--changeme);
}
.featured-text .featured-title a {
	color: var(--changeme);
}
.featured-text .featured-content {
	padding: 15px 20px;
	background-color: var(--changeme);
	color: var(--changeme);
	clear: left;
}

/* =Content
----------------------------------------------- */
#main {
	/*padding: 60px 0 10px;*/
	padding: 30px 0 10px;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	padding-bottom: 15px;
}
#content ul {
	list-style-type: disc;
}
#content ul,
#content ol {
	margin: 0 0 20px 30px;
}
#content ul a,
#content ol a {
	color: var(--link-color);
}
#content ul a:hover,
#content ol a:hover {
	text-decoration: none;
	color: var(--link-hover-color);
}
#content ul.fa-ul {
	list-style: none;
}

#content ol {
	list-style-type: decimal;
}
#content ol ol {
	list-style: upper-alpha;
}
#content ol ol ol {
	list-style: lower-roman;
}
#content ol ol ol ol {
	list-style: lower-alpha;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content .video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}
#content .video-container iframe,
#content .video-container object,
#content .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#primary {
	float: left;
	width: 65.64%;
}
#content .post {
	padding-bottom: 50px;
}
#content .sticky {
	background-color: #f2f2f2;
	padding: 20px;
	margin-bottom: 50px;
}
#content .sticky .post-featured-image .arrow {
	background-color: #f2f2f2;
}

/*  */
#content table {
	border-collapse: collapse;
}
#content table tr {
	border: solid 1px var(--fc-border-color);
}
#content table tr th,
#content table tr td {
	border: 0;
}
#content table tr:nth-child(odd) {
	background: var(--table-row-odd-color);
}
#content table tr:nth-child(even) {
	background: var(--table-row-even-color);
}
#content table thead tr:first-child {
	background: var(--table-header-color);
}

#betalningstabell td:nth-child(2) {
	white-space: nowrap;
}

/* List Styles */
#content ol.list-alpha {
	list-style: upper-alpha;
}
#content ol.list-alpha ol {
	list-style: lower-alpha;
}
#content ol.list-alpha ol ol {
	list-style: lower-greek;
}
#content ol.list-numeric {
	list-style: decimal;
}
#content ol.list-numeric ol {
	list-style: upper-roman;
}
#content ol.list-numeric ol ol {
	list-style: lower-roman;
}
#content ol.list-numbered-sections,
#content ol.list-numbered-sections ol {
	list-style-type: none;
	counter-reset: item;
	margin: 0;
	padding: 0;
}
#content ol.list-numbered-sections {
	margin: 0 0 20px 17px;
}
#content ol.list-numbered-sections > li,
#content ol.list-numbered-sections ol > li {
	display: table;
	counter-increment: item;
}
#content ol.list-numbered-sections > li:before,
#content ol.list-numbered-sections ol > li:before {
	content: counters(item, ".") ". ";
	display: table-cell;
	padding-right: 0.6em;
}
#content li ol.list-numbered-sections > li,
#content li ol.list-numbered-sections ol > li {
	margin: 0;
}
#content li ol.list-numbered-sections > li:before,
#content li ol.list-numbered-sections ol > li:before {
	content: counters(item, ".") " ";
}

/* Entry Content */
.entry-content {
	padding-bottom: 5px;
	display: block;
	overflow: hidden;
}
.entry-content dt,
.comment-content dt {
	font-weight: bold;
}
.entry-content dd,
.comment-content dd {
	margin-bottom: 20px;
}
.entry-content th,
.comment-content th {
	font-size: 17px;
	line-height: 24px;
	text-transform: uppercase;
}
.entry-content td,
.comment-content td {
	padding: 8px;
}
.wp-video {
	margin-bottom: 20px;
}

/* Column */
.column {
	margin-left: -3.06%;
}
.column a {
	margin-bottom: 10px;
	display: block;
}
.one-half,
.one-third,
.one-fourth,
.split > div {
	float: left;
	margin: 0 0 0 2.97%;
	padding-bottom: 30px;
}
.one-half {
	width: 47.03%;
}
.one-third {
	width: 30.36%;
}
.one-fourth {
	width: 22.02%;
}
.split > div {
	width: 48.515%
}
.split > div:first-of-type {
	margin: 0;
}

/* Sidebar */
#secondary {
	float: right;
	width: 31.28%;
}
#secondary img {
	display: block;
	max-width: 200px;
	margin: 0 auto;
}

/* Custom Gallery Page */
.custom-gallery #main {
	padding-bottom: 20px;
}
#content .gal-filter {
	list-style: none;
	margin-left: 0;
}
#content .gal-filter li {
	display: inline-block;
	padding: 0 8px;
}
#content .gal-filter li.active a {
	color: var(--link-color);
}
.custom-gallery #main .column {
	margin-left: -30px;
}
.custom-gallery #main .one-half,
.custom-gallery #main .one-third,
.custom-gallery #main .one-fourth {
	margin-left: 30px;
}
.custom-gallery #main .one-half {
	width: 474px;
}
.custom-gallery #main .one-third {
	width: 306px;
}
.custom-gallery #main .one-fourth {
	width: 222px;
}
#content .custom-gallery-title,
.custom-gallery-title a {
	font-weight: bold;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	color: var(--text-heading-color);
	padding-bottom: 0;
	text-transform: uppercase;
}
.custom-gallery-title a:hover {
	color: var(--link-color);
}

/* Image borders */
.img-border {
	background-color: var(--image-bordered-color);
	padding: 5px;
	border: 1px solid var(--image-bordered-border-color);
	display: inline-block;
}

/* Transparent shield backdrop */
div .shield {
	background: linear-gradient(var(--shield-color), var(--shield-color)), url('/img/dalreg-logo.webp');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* =Widgets
----------------------------------------------- */
.widget {
	margin-bottom: 25px;
}
.widget ul li a {
	color: var(--text-heading-color);
}
.widget ul li a:hover {
	color: var(--link-color);
}
.widget-title {
	font-size: 17px;
	text-transform: uppercase;
	line-height: 24px;
	padding-bottom: 15px;
}
.widget-title,
.widget-title a {
	color: var(--text-heading-color);
}
.widget-title a:hover {
	color: var(--link-color);
}

/* Recent Work Widget */
.widget_recent_work {
	margin-bottom: 5px;
}
.widget_recent_work .call-to-action {
	max-width: 180px;
	margin-bottom: 15px;
	display: inline-block;
}
.widget_recent_work .custom-gallery-title a {
	margin-bottom: 5px;
}
.widget_recent_work .custom-gallery-title,
.widget_recent_work .custom-gallery-title a {
	text-align: left;
}

/* Promotional Bar Widget */
.widget_promotional_bar {
	background-color: var(--promo-color);
	padding: 25px 30px;
	border-radius: 5px;
	border-style: solid;
	border-width: 0 0 0 4px;
	border-color: var(--promo-flare-color);
	box-sizing: border-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.widget_promotional_bar:after {
	display: none;
}
.widget_promotional_bar .promotional-text {
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--promo-heading-color);
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.widget_promotional_bar .promotional-text span {
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	text-transform: none;
	display: block;
	padding-top: 6px;
	color: var(--promo-text-color);
}
.widget_promotional_bar .call-to-action {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* WP Caption */
.wp-caption {
	margin-bottom: 20px;
	max-width: 100%;
}
.wp-caption a {
	display: block;
	position: relative;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-style: italic;
}
.wp-caption .wp-caption-text {
	margin-bottom: 0;
	padding: 10px 0;
	border-bottom: 1px solid var(--image-caption-border-color);
	font-size: 14px;
	color: var(--image-caption-color);
}
.wp-caption.aligncenter {
	display: block;
}

/* =Footer
----------------------------------------------- */
#colophon .widget-wrap {
	background: linear-gradient(var(--gradient-light-color), var(--gradient-dark-color));
	color: var(--hf-text-color);
}
#colophon .widget-area {
	margin-left: -3.06%;
	padding: 50px 0 10px;
}
#colophon .one-third {
	padding-bottom: 0;
}
#colophon .widget {
	margin-bottom: 40px;
}
#colophon .widget ul li a {
	color: var(--hf-nav-color);
}
#colophon .widget ul li a:hover,
#colophon .widget_categories .current-cat a,
#colophon .widget_nav_menu ul li.current_page_item > a,
#colophon .widget_nav_menu ul li.current_page_ancestor > a,
#colophon .widget_nav_menu ul li.current-menu-item > a,
#colophon .widget_nav_menu ul li.current-menu-ancestor > a,
#colophon .widget_pages ul li.current_page_item > a,
#colophon .widget_pages ul li.current_page_ancestor > a {
	color: var(--hf-nav-hover-color);
}
#colophon .widget_nav_menu ul li a {
	padding: 4px 0 6px 10px;
	border-bottom: 1px solid var(--border-light-color);
	display: block;
}
#colophon .widget_text ul.list {
	margin-left: 15px;
	list-style-type: disc;
}
#colophon .widget_text ul.list a {
	color: var(--hf-link-color);
}
#colophon .widget_nav_menu ul ul li a {
	padding-left: 20px;
}
#colophon .widget_nav_menu ul ul ul li a {
	padding-left: 30px;
}
#colophon .widget_nav_menu .sub-menu,
#colophon .widget_nav_menu .children,
#colophon .widget_pages .children {
	padding-left: 0;
}
#colophon .widget-title {
	font-size: 17px;
	text-transform: uppercase;
	line-height: 24px;
	color: var(--hf-heading-color);
	font-weight: bold;
}

/* Footer Info Bar */
#colophon .info-bar {
	background-color: var(--gradient-dark-color);
	padding-bottom: 8px;
	color: var(--hf-infobar-color);
}
#colophon .info-bar .info {
	float: none;
	text-align: center;
}
#colophon .info-bar .info ul li {
	float: none;
	display: inline-block;
	font-size: 14px;
	line-height: 34px;
	font-weight: bold;
}
#colophon .info-bar .info ul li a {
	color: #888;
}
#colophon .info-bar .info ul li:before {
	font-size: 24px;
	width: 32px;
	height: 30px;
	line-height: normal;
	font-weight: normal;
}
#colophon .info-bar .info ul li.phone-number:before {
	font-size: 30px;
}

/* Site Generator */
#site-generator {
	padding: 30px 0px;
	color: var(--hf-infobar-color);
	background-color: var(--gradient-dark-color);
}
#site-generator .social-profiles {
	width: 31.28%;
}
#site-generator .social-profiles ul {
	margin: -10px 0 0;
}
#site-generator .social-profiles ul li {
	margin-top: 10px;
}
#site-generator .copyright {
	float: left;
	padding-top: 2px;
	width: 65.64%;
}
#site-generator .copyright a {
	color: var(--hf-text-color);
}
#site-generator .copyright a:hover {
	color: var(--changeme);
}

#content .widget_recent_work .widget-title {
	padding-bottom:0;
}

#content .step-guide ol {
	margin: 0;
}
#content .step-guide li {
	display: block;
	overflow: auto;
}
#content .step-guide img {
	float: left;
	margin: 20px 20px 20px 0;
}
#content .step-guide p {
	padding-top: 20px;
}

/* Image Zoom
------------------------ */
.img-hover-zoom {
	width: auto;
	height: auto;
	overflow: hidden;
}
.img-hover-zoom img {
	transition: all 0.3s;
	display: block;
}
.img-hover-zoom:hover img { cursor: zoom-in; }
.img-hover-zoom.zoom-middle:hover img { transform: scale(1.8); }
.img-hover-zoom.zoom-left:hover img { transform: scale(1.8) translate(22%, 0); }
.img-hover-zoom.zoom-right:hover img { transform: scale(1.8) translate(-22%, 0); }

/* =Tabbed Container
----------------------------------------------- */
.tabbed {
	overflow-x: hidden; /* so we could easily hide the radio inputs */
	margin: 32px 0;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--tabbed-border-color);
}
#content .tabbed ul.tabs {
	margin: 0;
	list-style: none;
}
.tabbed [type="radio"] {
	/* hiding the inputs */
	display: none;
}
.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid var(--tabbed-border-color);
}
.tab > label {
	display: block;
	margin-bottom: -1px;
	padding: 12px 15px;
	border: 1px solid var(--border-light-color);
	border-bottom-color: var(--tabbed-border-color);
	background: var(--shading);
	color: var(--text-color);
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s;
}
.tab:hover label {
	color: #888;
}
.tab-content {
	display: none;
}
.tab-content h3 {
	margin-top: 15px;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
	border-bottom-color: var(--tabbed-current-color);
	border-top-color: var(--tabbed-current-flare-color);
	border-left-color:  var(--tabbed-border-color);
	border-right-color: var(--tabbed-border-color);
	background: var(--tabbed-current-color);
	color: var(--tabbed-current-text-color);
}
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tab-content:nth-of-type(5) {
	display: block;
}

/* Competitions
----------------------------------------------- */
.competition-row {
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 var(--comp-shadow);
	padding: 10px 10px 0 10px;
	transition: all 0.3s ease-out;
}
.competition-row > div:nth-of-type(1) { width: 65%; }
.competition-row h2 { line-height: 20px; }

.competition-row:hover {
	background-color: var(--comp-hover-color);
}
.competition-row a.button {
	margin-top: 5px;
	border-color: rgba(0, 0, 0, 0.1);

	color: var(--button-text-color);
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	padding: 9px 20px 9px;
	border-radius: 3px;
	background-color: var(--button-color);
	transition: all 0.3s ease-out;
}
.competition-row a.button:hover {
	background-color: var(--button-hover-color);
}
.competition-row h2 a { color: var(--comp-heading-color); }
.competition-row h2 a:hover { color: var(--comp-heading-hover-color); }
.competition-row .pictogram {
	float: left;
	width: 45px;
	height: 45px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: var(--comp-picto-color);
	border: 3px solid var(--comp-picto-border-color);
	background-position: center;
	background-repeat: no-repeat;
}
.competition-row .pg-weightlifting {background-image: url("/img/pictograms/weightlifting_pictogram-35.webp")}
.competition-row .pg-biathlon {background-image: url("/img/pictograms/biathlon_pictogram-35.webp")}
.competition-row .pg-modern_pentathlon {background-image: url("/img/pictograms/modern_pentathlon_pictogram-35.webp")}
.competition-row .pg-fencing {background-image: url("/img/pictograms/fencing_pictogram-35.webp")}
.competition-row .pg-athletics {background-image: url("/img/pictograms/athletics_pictogram-35.webp")}
.competition-row .pg-shooting {background-image: url("/img/pictograms/shooting_pictogram-35.webp")}
.competition-row .pg-cross_country_skiing {background-image: url("/img/pictograms/cross_country_skiing_pictogram-35.webp")}
.competition-row .pg-swimming {background-image: url("/img/pictograms/swimming_pictogram-35.webp")}
.competition-row .pg-triathlon {background-image: url("/img/pictograms/triathlon_pictogram-35.webp")}

/* Error pages
----------------------------------------------- */
img.error-shield {
	display: block;
	margin: 0 auto;
	width: 500px;
}

/* File icons
----------------------------------------------- */
.icons {
	height: 23px;
	width: 24px;
	margin: 0 4px 0 0;
}

/* Calendar
----------------------------------------------- */
#content #calendar h2 {
	text-transform: capitalize;
}
#content #calendar {
	border-top: 4px solid var(--fc-flare-color);
	box-shadow: 0 1px 2px 0 var(--fc-shadow);
	margin-bottom: 20px;
}
#content #calendar tr {
	background: none;
}
#content #calendar .fc-view-harness {
	background-color: var(--fc-page-bg-color);
}
#content #calendar .fc-list-table thead {
	/* hide pixel high line in program view */
	display: none;
}
#content #calendar .fc-scrollgrid-section table {
	border-style: hidden;
}
#content #calendar tr th,
#content #calendar td {
	border: 1px solid var(--fc-border-color);
	padding: 0;
}
#content #calendar table {
	margin-bottom: 0;
}
#content #calendar button {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .02rem;
}

#content #calendar .fc-button-primary {
	transition: all 0.3s ease-out;
}
#content #calendar .fc-footer-toolbar button.fc-button-primary {
	color: var(--button-text-color);
	background-color: var(--button-color);
	border-color: var(--button-color);
	transition: all 0.3s ease-out;
}
#content #calendar .fc-footer-toolbar button.fc-button-primary:hover {
	background-color: var(--button-hover-color);
	border-color: var(--button-hover-color);
}
#content #calendar .fc-list-table td {
	padding: 8px 14px;
}
#content #calendar a {
	color: var(--fc-text-color);
}
#content #calendar .fc-day-today {
	background-color: var(--fc-today-bg-color);
}
#content #calendar .fc-day-today a {
	color: var(--fc-today-text-color);
}
#content #calendar .fc-day-today .fc-daygrid-event-dot {
	border-color: var(--fc-event-border-today-color);
}

#content #calendar .fc-button-primary:not(:disabled).fc-button-active:focus,
#content #calendar .fc-button-primary:not(:disabled):active:focus,
#content #calendar .fc-button-primary:focus,
#content #calendar .fc-button:focus {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6);
}

/* program view */
#content #calendar .fc-list-sticky .fc-list-day .fc-list-day-cushion a {
	color: var(--fc-prg-day-text-color);
}
#content #calendar .fc-list-sticky .fc-list-event:hover td {
	background-color: var(--fc-prg-hover-color);
}
#content #calendar .fc-list-sticky .fc-day-today .fc-list-day-cushion {
	background-color: var(--fc-today-bg-color);
}
#content #calendar .fc-list-sticky .fc-day-today .fc-list-day-cushion a {
	color: var(--text-inv-color);
}

#content #calendar .fc-footer-toolbar {
	margin-top: 0;
	border-left: 1px solid var(--fc-border-color);
	border-right: 1px solid var(--fc-border-color);
	background-color: var(--fc-page-bg-color);
}
#content #calendar .fc-footer-toolbar .fc-toolbar-chunk {
	margin: 1em;
}
#content #calendar-modal {
	min-width: 300px;
	max-width: 800px;
	background: var(--fc-page-bg-color);
	color: var(--fc-text-color);
	border: 1px solid var(--fc-border-color);
	box-shadow: 0 1px 2px 0 var(--fc-shadow);
	border-radius: 5px;
}
#content #calendar-modal button {
	border: none;
	margin: 0 auto;
	color: var(--button-text-color);
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	text-align: center;
	padding: 9px 20px 9px;
	border-radius: 3px;
	background-color: var(--button-color);
	transition: all 0.3s ease-out;
}
#content #calendar-modal button:hover {
	background-color: var(--button-hover-color);
	border-color: var(--button-hover-color);
}
#content #calendar-modal h3 {
	border-bottom: 3px solid var(--fc-flare-color);
	margin-bottom: 10px;
}
